@model List<MassaNews.Portal.ViewModels.CotacaoEconomiaViewModel>

<div class="sidebar__cotacoes box-cotacoes-moedas box-cotacoes-moedas__desktop t-module t-border clearfix">
  <h3 class="title">Cotações</h3>

  @*@{
      var dolar = Model.First(d => d.Simbolo == "USD");
      var outros = Model.Where(d => d.Simbolo != "USD");
    }

    <div class="dolar">
      <span class="name">@dolar.Moeda</span>
      <span class="value">R$ @dolar.TaxaCompra.ToString("N3")</span>
      @if (dolar.Varicao < 0)
      {
        <span class="variation color-danger">@dolar.Varicao.ToString("N2")%</span>
      }
      else
      {
        <span class="variation color-success">@dolar.Varicao.ToString("N2")%</span>
      }
    </div>*@

@*   <div class="dolar">
    <span class="name">Dólar Americano</span>
    <span class="value">R$ @Model[0].TaxaVenda.ToString("N3")</span>
    @if (Model[0].Varicao > 0)
    {
      <span class="variation color-danger">+@Model[0].Varicao.ToString("N2")%</span>
    }
    else
    {
      <span class="variation color-success">@Model[0].Varicao.ToString("N2")%</span>
    }
  </div> *@

  <p class="obs clearfix">Taxa de câmbio turismo para compra na MultiMoney.</p>

  <ul class="list">
    <li class="clearfix">
      <span class="name">Dólar Americano</span>
      @if (Model[0].Varicao > 0)
      {
        <span class="variation color-danger">+@Model[0].Varicao.ToString("N2")%</span>
      }
      else
      {
        <span class="variation color-success">@Model[0].Varicao.ToString("N2")%</span>
      }
      <span class="value">R$ @Model[0].TaxaVenda.ToString("N3")</span>
    </li>
    <li class="clearfix">
      <span class="name">Euro</span>
      @if (Model[1].Varicao > 0)
      {
        <span class="variation color-danger">+@Model[1].Varicao.ToString("N2")%</span>
      }
      else
      {
        <span class="variation color-success">@Model[1].Varicao.ToString("N2")%</span>
      }
      <span class="value">R$ @Model[1].TaxaVenda.ToString("N3")</span>
    </li>
    <li class="clearfix">
      <span class="name">Libra</span>
      @if (Model[2].Varicao > 0)
      {
        <span class="variation color-danger">+@Model[2].Varicao.ToString("N2")%</span>
      }
      else
      {
        <span class="variation color-success">@Model[2].Varicao.ToString("N2")%</span>
      }
      <span class="value">R$ @Model[2].TaxaVenda.ToString("N3")</span>
    </li>
    <li class="clearfix">
      <span class="name">Peso argentino</span>
      @if (Model[3].Varicao > 0)
      {
        <span class="variation color-danger">+@Model[3].Varicao.ToString("N2")%</span>
      }
      else
      {
        <span class="variation color-success">@Model[3].Varicao.ToString("N2")%</span>
      }
      <span class="value">R$ @Model[3].TaxaVenda.ToString("N3")</span>
    </li>
    <li class="clearfix">
      <span class="name">Dólar canadense</span>
      @if (Model[4].Varicao > 0)
      {
        <span class="variation color-danger">+@Model[4].Varicao.ToString("N2")%</span>
      }
      else
      {
        <span class="variation color-success">@Model[4].Varicao.ToString("N2")%</span>
      }
      <span class="value">R$ @Model[4].TaxaVenda.ToString("N3")</span>
    </li>
    <li class="clearfix">
      <span class="name">Rublo</span>
      @if (Model[5].Varicao > 0)
      {
        <span class="variation color-danger">+@Model[5].Varicao.ToString("N2")%</span>
      }
      else
      {
        <span class="variation color-success">@Model[5].Varicao.ToString("N2")%</span>
      }
      <span class="value">R$ @Model[5].TaxaVenda.ToString("N3")</span>
    </li>

    @*@foreach (var moeda in outros)
      {
        <li class="clearfix">
          @if (moeda.Moeda.Length > 9)
          {
            <span class="name">
              @moeda.Moeda.Substring(0, 9).Insert(9, ".")
            </span>
          }
          else
          {
            <span class="name">
              @moeda.Moeda
            </span>
          }
          <span class="name">@moeda.Moeda.Length > 9 ? @moeda.Moeda : @moeda.Moeda.Substring(0, 9)</span>
          @if (moeda.Varicao < 0)
          {
            <span class="variation color-danger">@dolar.Varicao.ToString("N2")%</span>
          }
          else
          {
            <span class="variation color-success">@dolar.Varicao.ToString("N2")%</span>
          }
          <span class="value">R$ @moeda.TaxaCompra.ToString("N3")</span>
        </li>
      }*@
  </ul>

  <a href="https://multimoneycorretora.com.br/?utm_source=massa-news&utm_medium=box-cotacoes" class="by clearfix" target="_blank" title="MultiMoney - Corretora de Câmbio">
    <img src="@Url.Content("~/content/images/logos/multimoney.png")" class="logo" alt="MultiMoney - Corretora de Câmbio">
  </a>
</div>