@section bodyClass{@Html.Raw("where-15-anos pg-where")}
@using MassaNews.Service.Models

@model MassaNews.Portal.ViewModels.PromocaoIndex

<main class="g-main">

  <input type="hidden" id="hdFinished" value="@if(Model.Status){<text>aberto</text>}else{<text>encerrado</text>}" />

  @Html.Partial("_HeaderWhere15Anos")

  <section class="g-container t-content">
    <ul class="bar-links bar-menu">
      <li class="active"><i class="fa fa-image"></i><a href="/promocao/where-15-anos">FOTOS</a></li>
      <li><i class="fa fa-trophy"></i><a href="/promocao/where-15-anos/premiacao">PREMIAÇÃO</a></li>
      <li><i class="fa fa-users"></i><a href="/promocao/where-15-anos/jurados">JURADOS</a></li>
      <li><i class="fa fa-file-text-o"></i><a href="/promocao/where-15-anos/regulamento">REGULAMENTO</a></li>
    </ul>

    <ul class="bar-links bar-filters">
      <li class="@if(Model.Destaque == DestaqueInscricaoStatus.MaisRecentes.Id){<text>active</text>}" data-ordem="data"><a href="#">Mais recentes</a></li>
      <li class="@if(Model.Destaque == DestaqueInscricaoStatus.MaisVotados.Id){<text>active</text>}" data-ordem="votos"><a href="#">Mais votadas</a></li>
      @if (Model.ExibirFinalistas)
      {
        <li class="@if(Model.Destaque == DestaqueInscricaoStatus.Finalistas.Id){<text>active</text>}" data-ordem="posicao"><a href="#">Finalistas</a></li>
      }
    </ul>

    <div class="agrupa-galeria">
      @* <a href="#" class="arrow-prev"><i class="fa fa-4x fa-angle-left t-page-color"></i></a>
        <a href="#" class="arrow-next"><i class="fa fa-4x fa-angle-right t-page-color"></i></a> *@

      <div id="g-0" class="galeria-page">
        @foreach (var inscricao in Model.Inscricoes)
        {
          <a href="@inscricao.ImagemOrFull" data-ngthumb="@inscricao.ImagemTbFull" data-ngdesc="@inscricao.Titulo" data-ngID="@inscricao.Id">@inscricao.Nome (@inscricao.QtdeVotos votos)</a>
        }
      </div>
    </div>

    <div class="load-more clearfix">
      @* <a id="loadMore" class="c-button-where c-button--small text-center">Carregar mais</a> *@
      <a href="#" class="arrow-prev c-button-where c-button--small u-left"><i class="fa fa-lg fa-angle-left t-page-color"></i><span class="label">&nbsp;&nbsp; Anterior</span></a>
      <a href="#" class="arrow-next c-button-where c-button--small u-right"><span class="label">Próxima&nbsp;&nbsp; </span><i class="fa fa-lg fa-angle-right t-page-color"></i></a>
    </div>
  </section>
</main>

@section scripts{
  <script type="text/javascript" src="~/Assets/scripts/where-15-anos/jquery.nanogallery.min.js"></script>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function ()
    {

      var galeria = 0;
      var page = 0;
      var pageMax = @Model.pages;
      var currentImage;
      var ordem = $('.bar-filters .active').data('ordem');//'data';

      function setNanoGallery(div) {
        $(div).nanoGallery({
          thumbnailWidth: 'auto',
          thumbnailHeight: 300,
          thumbnailHoverEffect: [{ name: 'labelAppear75', duration: 150 }],
          thumbnailLabel: { display: true, position: 'overImageOnMiddle', align: 'center',   displayDescription: true },
          viewerToolbar: { style: 'stuckImage', standard: 'label, vote', minimized: 'label' }
        });
      }
      function loadGallery(page)
      {
        galeria = galeria + 1;

        $.get('/promocao/where-15-anos/GeLatestImages', { page: page, orderBy: ordem }, function (result){
          $('.galeria-page').nanoGallery('destroy');
          $('.galeria-page').remove();

          var gallery = $('<div id="g-' + galeria + '" class="galeria-page"></div>');

          $(result.data).each(function()
          {
            var img = $('<a id="' + $(this)[0].id + '" href="' + $(this)[0].imageOr + '" data-ngthumb="' + $(this)[0].imageTb + '" data-ngdesc="' + $(this)[0].titulo + '" data-ngID="' + $(this)[0].id + '">' + $(this)[0].nome + '</a>');
            $(gallery).append($(img))
          });

          pageMax = result.pages;

          if((page + 1) == pageMax)
            $('.arrow-next').hide();
          else
            $('.arrow-next').show();

          $(".agrupa-galeria").append($(gallery));

          setNanoGallery($(gallery));
        });

        if (page <= 0)
          $('.arrow-prev').hide();
        else
          $('.arrow-prev').show();

        if((page + 1) == pageMax)
          $('.arrow-next').hide();
        else
          $('.arrow-next').show();

        // if(pageMax == 1)
        //   $('.agrupa-galeria').addClass('agrupa-galeria-1');
      }

      $(".arrow-prev").on("click", function () {
        page = page - 1;

        loadGallery(page);
      });
      $(".arrow-next").on("click", function () {
        page = page + 1;
        loadGallery(page);
      });

      $(".bar-links li").on('click', function(){
        $(".bar-filters .active").removeClass('active');
        $(this).addClass('active');

        page = 0;
        ordem = $(this).data('ordem');
        loadGallery(page);
      });

      $('.arrow-prev').hide();

      if((page + 1) == pageMax)
        $('.arrow-next').hide();

      //Redirect to correct url
      if(window.location.hash)
      {
        var imageId = window.location.hash.split('/')[3];

        var url = 'https://' + window.location.host + '/promocao/where-15-anos/' + imageId + '#nanogallery/g-0/0/' + imageId;

        if(window.location.href != url && imageId != null)
          window.location= url;
        else
          setNanoGallery($("#g-0"));
      }
      else
        setNanoGallery($("#g-0"));

    });
  </script>
}