<div class="c-publicidade c-publicidade--square">
  <div class="t-module inventory">
    <amp-ad
      width=300
      height=250
      type="doubleclick"
      data-slot="/52387530/retangulo-medio-pos-1">
    </amp-ad>
    @*<amp-ad
      width=300
      height=250
      type="doubleclick"
      data-slot="/52387530/retangulo-medio-pos-1"
      json='{
        "targeting":{
          "Cidade": "@ViewBag.CurrentCity.Url",
          "Microrregião": "@ViewBag.CurrentCity.Microregion.Url",
          "Macrorregião": "@ViewBag.CurrentCity.Microregion.Macroregiao.Url",
          "pagina": "@ViewBag.Pagina",
          "editoria": "@ViewBag.EditoriaUrl",
          "categoria": "@ViewBag.Categoria",
          "subcategoria": "@ViewBag.SubCategoria",
          "tags": "@ViewBag.Tags",
          "blog": "@ViewBag.Blog"
        }
      }'>
    </amp-ad>*@
  </div>
</div>