@model MassaNews.Portal.ViewModels.RoteirosIndex

@section bodyClass{@Html.Raw("pg-roteiros")}

<main class="g-main">
  <div class="g-column-with-sidebar">
    <div class="g-content t-vertical-padding">
      <div class="t-module u-text-center buttons-view">
        <a href="#" class="c-button c-button--small t-page-button">Lista</a>&nbsp;
        <a href="#" class="c-button c-button--small c-button--gray">Mapa</a>
      </div>

      <div class="c-slider--headlines-bg-color t-module">
        
        <div class="g-headlines--main-2columns c-headlines--bg-color">
          <div class="c-headline">
            <picture class="image">
              <a href="/noticias/ciencia-e-saude/frio-e-casos-de-gripe-levam-parana-a-pedir-mais-medicamentos-para-a-gripe-KwaOO.html" title="Frio e casos de gripe levam Paraná a pedir mais medicamentos para a gripe">
                <img srcset="http://cdn.massanews.com/uploads/noticias/whatsapp-image-20160628-1-sm-a904e464.jpeg 347w, http://cdn.massanews.com/uploads/noticias/whatsapp-image-20160628-1-md-aebc619e.jpeg 674w" src="http://cdn.massanews.com/uploads/noticias/whatsapp-image-20160628-1-md-aebc619e.jpeg" alt="Após quase seis horas, mulher se entrega à polícia ">
              </a>
            </picture>
          </div>
          <div class="c-headline c-headline--bg-color-texts">
            <div class="group-texts">
              <div class="texts">
                <h3 class="hat">
                  <a href="/tags/curitiba">Curitiba</a>
                </h3>
                <h2 class="title">
                  <a href="/noticias/plantao/operacao-volta-as-aulas-busca-quadrilha-que-falsificava-diplomas-1q83b.html" title="Operação “Volta às Aulas” busca quadrilha que falsificava diplomas">Operação “Volta às Aulas” busca quadrilha que falsificava diplomas</a>
                </h2>
              </div>
            </div>
          </div>
        </div>

        <div class="g-headlines--main-2columns c-headlines--bg-color">
          <div class="c-headline">
            <picture class="image">
              <a href="/noticias/ciencia-e-saude/frio-e-casos-de-gripe-levam-parana-a-pedir-mais-medicamentos-para-a-gripe-KwaOO.html" title="Frio e casos de gripe levam Paraná a pedir mais medicamentos para a gripe">
                <img srcset="https://s3.amazonaws.com/dev.massanews.com/uploads/noticias/tamiflu-sm-6110dba7.jpg 347w, https://s3.amazonaws.com/dev.massanews.com/uploads/noticias/tamiflu-md-ec38d74b.jpg 674w" src="https://s3.amazonaws.com/dev.massanews.com/uploads/noticias/tamiflu-md-ec38d74b.jpg" alt="Frio e casos de gripe levam Paraná a pedir mais medicamentos para a gripe">
              </a>
            </picture>
          </div>
          <div class="c-headline c-headline--bg-color-texts">
            <div class="group-texts">
              <div class="texts">
                <h3 class="hat">
                  <a href="/tags/curitiba">Curitiba</a>
                </h3>
                <h2 class="title">
                  <a href="/noticias/plantao/operacao-volta-as-aulas-busca-quadrilha-que-falsificava-diplomas-1q83b.html" title="Operação “Volta às Aulas” busca quadrilha que falsificava diplomas">Operação “Volta às Aulas” busca quadrilha que falsificava diplomas</a>
                </h2>
              </div>
            </div>
          </div>
        </div>

        <div class="g-headlines--main-2columns c-headlines--bg-color">
          <div class="c-headline">
            <picture class="image">
              <a href="/noticias/ciencia-e-saude/frio-e-casos-de-gripe-levam-parana-a-pedir-mais-medicamentos-para-a-gripe-KwaOO.html" title="Frio e casos de gripe levam Paraná a pedir mais medicamentos para a gripe">
                <img srcset="https://s3.amazonaws.com/dev.massanews.com/uploads/noticias/tamiflu-sm-6110dba7.jpg 347w, https://s3.amazonaws.com/dev.massanews.com/uploads/noticias/tamiflu-md-ec38d74b.jpg 674w" src="https://s3.amazonaws.com/dev.massanews.com/uploads/noticias/tamiflu-md-ec38d74b.jpg" alt="Frio e casos de gripe levam Paraná a pedir mais medicamentos para a gripe">
              </a>
            </picture>
          </div>
          <div class="c-headline c-headline--bg-color-texts">
            <div class="group-texts">
              <div class="texts">
                <h3 class="hat">
                  <a href="/tags/curitiba">Curitiba</a>
                </h3>
                <h2 class="title">
                  <a href="/noticias/plantao/operacao-volta-as-aulas-busca-quadrilha-que-falsificava-diplomas-1q83b.html" title="Operação “Volta às Aulas” busca quadrilha que falsificava diplomas">Operação “Volta às Aulas” busca quadrilha que falsificava diplomas</a>
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>

      @foreach (var destaque in Model.Destaques.Skip(1).Where(d=> d.Estabelecimentos.Any()))
      {
        <div class="c-category-title t-roteiros">
          <h2 class="title"><a href="@destaque.Link" title="Ver tudo em @destaque.Titulo">@destaque.Titulo</a>
          </h2>
          <a href="#" class="link-see-all fa fa-plus-circle fa-2x" title="Ver tudo em @destaque.Titulo"></a>
        </div>

        <section class="g-3columns t-module">
          @foreach (var estabelecimento in destaque.Estabelecimentos)
          {
            <div class="g-column">
              <div class="c-headline c-headline--roteiros c-box-itenn t-roteiros">
                <picture class="image">
                  <a href="@estabelecimento.Link" title="@estabelecimento.Titulo">
                    <img src="@estabelecimento.Img" alt="@estabelecimento.Titulo">
                  </a>
                </picture>
                <div class="texts">
                  <h3 class="hat">
                    <a href="@estabelecimento.LinkChapeu">@estabelecimento.Chapeu</a>
                  </h3>
                  <h2 class="title">
                    <a href="@estabelecimento.Link" title="@estabelecimento.Titulo">@estabelecimento.Titulo</a>
                  </h2>
                </div>
              </div>
            </div>

            @*<div class="g-column">
              <div class="c-headline c-headline--roteiros c-box-itenn t-roteiros">
                <picture class="image">
                  <a href="/noticias/plantao/operacao-volta-as-aulas-busca-quadrilha-que-falsificava-diplomas-1q83b.html" title="Operação “Volta às Aulas” busca quadrilha que falsificava diplomas">
                    <img src="http://cdn.massanews.com/uploads/noticias/-mg-8488-4-sm-9f54f14c.jpg" alt="Operação “Volta às Aulas” busca quadrilha que falsificava diplomas">
                  </a>
                </picture>
                <div class="texts">
                  <h3 class="hat">
                    <a href="/tags/curitiba">Curitiba</a>
                  </h3>
                  <h2 class="title">
                    <a href="/noticias/plantao/operacao-volta-as-aulas-busca-quadrilha-que-falsificava-diplomas-1q83b.html" title="Operação “Volta às Aulas” busca quadrilha que falsificava diplomas">Operação “Volta às Aulas” busca quadrilha que falsificava diplomas</a>
                  </h2>
                </div>
              </div>
            </div>
            <div class="g-column">
              <div class="c-headline c-headline--roteiros c-box-itenn t-roteiros">
                <picture class="image">
                  <a href="/noticias/plantao/operacao-volta-as-aulas-busca-quadrilha-que-falsificava-diplomas-1q83b.html" title="Operação “Volta às Aulas” busca quadrilha que falsificava diplomas">
                    <img src="http://cdn.massanews.com/uploads/noticias/-mg-8488-4-sm-9f54f14c.jpg" alt="Operação “Volta às Aulas” busca quadrilha que falsificava diplomas">
                  </a>
                </picture>
                <div class="texts">
                  <h3 class="hat">
                    <a href="/tags/curitiba">Curitiba</a>
                  </h3>
                  <h2 class="title">
                    <a href="/noticias/plantao/operacao-volta-as-aulas-busca-quadrilha-que-falsificava-diplomas-1q83b.html" title="Operação “Volta às Aulas” busca quadrilha que falsificava diplomas">Operação “Volta às Aulas” busca quadrilha que falsificava diplomas</a>
                  </h2>
                </div>
              </div>
            </div>*@
          }
        </section>
      }

      @*<div class="c-category-title t-roteiros">
        <h2 class="title"><a href="/dev/roteiros-categoria" title="Ver tudo em Cultura">Gastronomia</a></h2>
        <a href="#" class="link-see-all fa fa-plus-circle fa-2x" title="Ver tudo em Cultura"></a>
      </div>

      <section class="g-3columns t-module">
        <div class="g-column">
          <div class="c-headline c-headline--roteiros c-box-itenn t-roteiros">
            <picture class="image">
              <a href="/noticias/plantao/operacao-volta-as-aulas-busca-quadrilha-que-falsificava-diplomas-1q83b.html" title="Operação “Volta às Aulas” busca quadrilha que falsificava diplomas">
                <img src="http://cdn.massanews.com/uploads/noticias/-mg-8488-4-sm-9f54f14c.jpg" alt="Operação “Volta às Aulas” busca quadrilha que falsificava diplomas">
              </a>
            </picture>
            <div class="texts">
              <h3 class="hat"><a href="/tags/curitiba">Curitiba</a></h3>
              <h2 class="title">
                <a href="/noticias/plantao/operacao-volta-as-aulas-busca-quadrilha-que-falsificava-diplomas-1q83b.html" title="Operação “Volta às Aulas” busca quadrilha que falsificava diplomas">Operação “Volta às Aulas” busca quadrilha que falsificava diplomas</a>
              </h2>
            </div>
          </div>
        </div>
        <div class="g-column">
          <div class="c-headline c-headline--roteiros c-box-itenn t-roteiros">
            <picture class="image">
              <a href="/noticias/plantao/operacao-volta-as-aulas-busca-quadrilha-que-falsificava-diplomas-1q83b.html" title="Operação “Volta às Aulas” busca quadrilha que falsificava diplomas">
                <img src="http://cdn.massanews.com/uploads/noticias/-mg-8488-4-sm-9f54f14c.jpg" alt="Operação “Volta às Aulas” busca quadrilha que falsificava diplomas">
              </a>
            </picture>
            <div class="texts">
              <h3 class="hat"><a href="/tags/curitiba">Curitiba</a></h3>
              <h2 class="title">
                <a href="/noticias/plantao/operacao-volta-as-aulas-busca-quadrilha-que-falsificava-diplomas-1q83b.html" title="Operação “Volta às Aulas” busca quadrilha que falsificava diplomas">Operação “Volta às Aulas” busca quadrilha que falsificava diplomas</a>
              </h2>
            </div>
          </div>
        </div>
        <div class="g-column">
          <div class="c-headline c-headline--roteiros c-box-itenn t-roteiros">
            <picture class="image">
              <a href="/noticias/plantao/operacao-volta-as-aulas-busca-quadrilha-que-falsificava-diplomas-1q83b.html" title="Operação “Volta às Aulas” busca quadrilha que falsificava diplomas">
                <img src="http://cdn.massanews.com/uploads/noticias/-mg-8488-4-sm-9f54f14c.jpg" alt="Operação “Volta às Aulas” busca quadrilha que falsificava diplomas">
              </a>
            </picture>
            <div class="texts">
              <h3 class="hat"><a href="/tags/curitiba">Curitiba</a></h3>
              <h2 class="title">
                <a href="/noticias/plantao/operacao-volta-as-aulas-busca-quadrilha-que-falsificava-diplomas-1q83b.html" title="Operação “Volta às Aulas” busca quadrilha que falsificava diplomas">Operação “Volta às Aulas” busca quadrilha que falsificava diplomas</a>
              </h2>
            </div>
          </div>
        </div>
      </section>*@
    </div>

    <aside class="c-fixed-sidebar g-aside">
      <div class="nano">
        <div class="nano-content">
          <div class="c-fixed-sidebar__title">
            <h3 class="title">Categorias</h3>
          </div>
          <ul class="c-fixed-sidebar__list c-headline--minis">
            @foreach (var item in Model.Menu)
            {
              <li class="c-fixed-sidebar__list__iten @item.Current">
                <div class="c-fixed-sidebar__list__link">
                  <div class="texts">
                    <a href="@item.Link" title="@item.Titulo"><i class="fa @item.Icone"></i>@item.Titulo</a>
                  </div>
                </div>
              </li>
            }
          </ul>
        </div>
      </div>
    </aside>
  </div>
</main>