<div class="c-hader-massa-na-russia">
  <div class="g-container">
    <a href="/narussia" title="Massa na Rússia">
      <img src="@string.Format("/content/images/landing/massa-na-russia/logo-massa-na-russia.png")" alt="@ViewBag.ActiveNav" class="logo">
    </a>

    <div class="patrocinio oferecimento">
      <span class="label">Oferecimento</span>
      <a href="http://www.fordcenter.com.br/?utm_source=massa-news&utm_medium=massa-na-russia" target="_blank"><img src="@string.Format("/content/images/landing/massa-na-russia/patrocinio/logo-ford-center.png")" alt="Ford Center"></a>
    </div>

    <div class="patrocinio apoio">
      <span class="label">Apoio</span>
      <a href="http://worldtour.tur.br/?utm_source=massa-news&utm_medium=massa-na-russia" target="_blank"><img src="@string.Format("/content/images/landing/massa-na-russia/patrocinio/logo-worldtour.png")" alt="WorldTour"></a>
      <a href="https://www.facebook.com/picnicamericanburger/" target="_blank"><img src="@string.Format("/content/images/landing/massa-na-russia/patrocinio/logo-picnic.png")" alt="Picnic"></a>
    </div>
  </div>
</div>