@using Entities.Classes
@using MassaNews.Service.Util

@model List<MassaNews.Models.Portal.Generic.NewsList>

@{ var date = DateTime.Now; }

@if (Model.Any())
{
  <section class="c-headline--horz-list t-module">
    @foreach (var item in Model)
    {
      <div class="c-headline @string.Format("t-{0}", item.EditorialUrl) @if (string.IsNullOrEmpty(item.ImgSm)){<text>no-image</text>}">
        @if (item.DestaqueId == Destaque.Video.Id)
        {
          <picture class="image modal-video">
            <i class="fa fa-play-circle fa-6x fa-icon-video"></i>
            <a href="@Url.Action("Interna", "Video", new {url = item.Url})" title="@item.Chamada">
              <img class="lazy" data-original="@($"{Constants.UrlDominioEstaticoUploads}/{"noticias"}/{item.ImgSm}")" alt="@item.Chamada">
            </a>
          </picture>
        }
        else if (!string.IsNullOrEmpty(item.ImgSm))
        {
          <picture class="image">
            <a href="@Url.Action("Index", "Noticias", new {editorial = item.EditorialUrl, categoria = item.CategoriaUrl, url = item.Url})" title="@item.Chamada">
              @if (item.DestaqueId == Destaque.Galeria.Id)
              {
                @Html.Partial("_LabelImage", new ViewDataDictionary { { "qtde", item.GalleryImgCount } })
              }
              <img class="lazy" data-original="@string.Format("{0}/{1}/{2}", Constants.UrlDominioEstaticoUploads, "noticias", item.ImgSm)" alt="@item.Chamada">
            </a>
          </picture>
        }
        <div class="texts">
          @if (item.CategoriaUrl.Equals("plantao"))
          {
            <h3 class="hat">
              @if (!string.IsNullOrEmpty(item.BlogUrl))
              {
                <a href="@Url.Action("BlogPosts", "Blogs", new {categoria = item.CategoriaUrl, blog = item.BlogUrl})" class="author">@item.BlogTitle</a>
              }
              else if (!string.IsNullOrEmpty(item.CityUrl))
              {
                <a href="@string.Format("/tags/{0}", item.CityUrl)">@item.CityName</a>
              }
              else
              {
                <a href="@Url.Action("Parana", "Categorias")">Paraná</a>
              }
              <time class="date" datetime="@Convert.ToDateTime(@item.Published).ToString("yyyy-MM-dd HH:mm")">
                <text>-</text>
                @if (Convert.ToDateTime(item.Published).ToShortDateString() == date.ToShortDateString())
                {
                  <text>@Convert.ToDateTime(@item.Published).ToString("HH\\hmm")</text>
                }
                else
                {
                  <text>@Convert.ToDateTime(@item.Published).ToString("dd/MM/yyyy")</text>
                }
              </time>
            </h3>
          }
          else
          {
            <h3 class="hat">
              @if (!string.IsNullOrEmpty(item.BlogUrl))
              {
                <a href="@Url.Action("BlogPosts", "Blogs", new {categoria = item.CategoriaUrl, blog = item.BlogUrl})" class="author">@item.BlogTitle</a>
              }
              else if (!string.IsNullOrEmpty(item.CategoriaPaiUrl))
              {
                <a href="@string.Format("/{0}/{1}/{2}", item.EditorialUrl, item.CategoriaPaiUrl, item.CategoriaUrl)">@item.CategoriaTitulo</a>
              }
              else
              {
                <a href="@string.Format("/{0}/{1}", item.EditorialUrl, item.CategoriaUrl)">@item.CategoriaTitulo</a>
              }

              <time class="date" datetime="@Convert.ToDateTime(@item.Published).ToString("yyyy-MM-dd HH:mm")">
                <text>-</text>
                @if (Convert.ToDateTime(item.Published).ToShortDateString() == date.ToShortDateString())
                {
                  <text>@Convert.ToDateTime(@item.Published).ToString("HH\\hmm")</text>
                }
                else
                {
                  <text>@Convert.ToDateTime(@item.Published).ToString("dd/MM/yyyy")</text>
                }
              </time>
            </h3>
          }
          <h2 class="title">
            <a href="@Url.Action("Index", "Noticias", new {editorial = item.EditorialUrl, categoria = item.CategoriaUrl, url = item.Url})" title="@item.Chamada">
              @item.Chamada
            </a>
          </h2>
        </div>
      </div>
    }
  </section>
  
  if (ViewBag.Paginacao != null)
  {
    <nav class="c-pagination">
      <ul class="pagination">
        @foreach (var pagina in ViewBag.Paginacao)
        {
          <li @(ViewBag.PaginaAtual == pagina.Value ? "class='active'" : string.Empty) >
            <a @{ if (pagina.Key == "<") { <text> rel="prev" </text> } else if (pagina.Key == ">") { <text> rel="next" </text> } } href="@($"{ViewBag.UrlPaginacao}/?p={pagina.Value}")" title="@pagina.Key">
              @pagina.Key
            </a>
          </li>
        }
      </ul>
    </nav>
  }
}
