@section bodyClass{@Html.Raw("where-15-anos pg-where")}

<main class="g-main">
  <div class="banner">
    <div class="g-container">
      <img src="@Url.Content("~/content/images/where/where-15-anos/logo.png")" class="logo" alt="Massa News - A notícia em movimento!">

      <div class="text">
        <h2 class="h1">O que é a cara de Curitiba para você?</h2>

        <p>Para participar do concurso é muito fácil. Tire uma selfie mostrando o que é a cara de Curitiba para você!</p>
        <p>Serão escolhidos 5 ganhadores por votação popular pelo site e os outros 10 por um júri técnico.</p>
        <p>Inscrições abertas de 10 a 25 de novembro.</p>
        <p>Participe, chame seus amigos!</p>
        <a href="#" class="c-button--white c-button--small" title="Envie sua foto"><i class="fa fa-image"></i>&nbsp;&nbsp; Envie sua foto</a>
      </div>
    </div>
  </div>

  <div class="g-container t-content">
    <section>

      <ul class="bar-links bar-menu">
        <li class="active"><i class="fa fa-image"></i>&nbsp; <a href="#">GALERIA DE FOTOS</a></li>
        <li><i class="fa fa-trophy"></i>&nbsp; <a href="#">PREMIAÇÃO</a></li>
        <li><i class="fa fa-users"></i>&nbsp; <a href="#">JURADOS</a></li>
        <li><i class="fa fa-file-text-o"></i>&nbsp; <a href="#">REGULAMENTO</a></li>
      </ul>

      <ul class="bar-links bar-filters">
        <li class="active"><a href="#">Mais recentes</a></li>
        <li><a href="#">Mais votadas</a></li>
        <li><a href="#">Finalistas</a></li>
      </ul>


      <div id="where15anos">
        <a href="@Url.Content("~/content/images/where/where-15-anos/mosaic/large/1.jpg")" data-ngthumb="@Url.Content("~/content/images/where/where-15-anos/mosaic/large/1.jpg")" data-ngdesc="Lorem ipsum dolor sit amet, consectetur adipisicing elit." data-customdata="Share Facebook!!!">João Brandão</a>
        <a href="@Url.Content("~/content/images/where/where-15-anos/mosaic/large/2.jpg")" data-ngthumb="@Url.Content("~/content/images/where/where-15-anos/mosaic/large/2.jpg")" data-ngdesc="Eu e meus novos amigos em Curitiba">Wilian Conte</a>
        <a href="@Url.Content("~/content/images/where/where-15-anos/mosaic/large/3.jpg")" data-ngthumb="@Url.Content("~/content/images/where/where-15-anos/mosaic/large/3.jpg")" data-ngdesc="Nome da minha foto aqui">Fulano de Tal</a>
        <a href="@Url.Content("~/content/images/where/where-15-anos/mosaic/large/1.jpg")" data-ngthumb="@Url.Content("~/content/images/where/where-15-anos/mosaic/large/1.jpg")" data-ngdesc="Description1">Title Image1</a>
        <a href="@Url.Content("~/content/images/where/where-15-anos/mosaic/large/2.jpg")" data-ngthumb="@Url.Content("~/content/images/where/where-15-anos/mosaic/large/2.jpg")" data-ngdesc="Description1">Title Image1</a>
        <a href="@Url.Content("~/content/images/where/where-15-anos/mosaic/large/3.jpg")" data-ngthumb="@Url.Content("~/content/images/where/where-15-anos/mosaic/large/3.jpg")" data-ngdesc="Description1">Title Image1</a>
        <a href="@Url.Content("~/content/images/where/where-15-anos/mosaic/large/1.jpg")" data-ngthumb="@Url.Content("~/content/images/where/where-15-anos/mosaic/large/1.jpg")" data-ngdesc="Description1">Title Image1</a>
        <a href="@Url.Content("~/content/images/where/where-15-anos/mosaic/large/2.jpg")" data-ngthumb="@Url.Content("~/content/images/where/where-15-anos/mosaic/large/2.jpg")" data-ngdesc="Description1">Title Image1</a>
        <a href="@Url.Content("~/content/images/where/where-15-anos/mosaic/large/3.jpg")" data-ngthumb="@Url.Content("~/content/images/where/where-15-anos/mosaic/large/3.jpg")" data-ngdesc="Description1">Title Image1</a>
        <a href="@Url.Content("~/content/images/where/where-15-anos/mosaic/large/1.jpg")" data-ngthumb="@Url.Content("~/content/images/where/where-15-anos/mosaic/large/1.jpg")" data-ngdesc="Description1">Title Image1</a>
        <a href="@Url.Content("~/content/images/where/where-15-anos/mosaic/large/2.jpg")" data-ngthumb="@Url.Content("~/content/images/where/where-15-anos/mosaic/large/2.jpg")" data-ngdesc="Description1">Title Image1</a>
        <a href="@Url.Content("~/content/images/where/where-15-anos/mosaic/large/3.jpg")" data-ngthumb="@Url.Content("~/content/images/where/where-15-anos/mosaic/large/3.jpg")" data-ngdesc="Description1">Title Image1</a>
      </div>


      @* <h3 class="t-page-color">Os primeiros 5 colocados poderão escolher 1 (um) dos prêmios principais abaixo, com chamada por ordem de colocação</h3>
      <ul class="list">
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
      </ul>

      <h3 class="t-page-color">Do 6º ao 15º os prêmios serão pré-definidos de acordo com a colocação final</h3>
      <ul class="list">
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
      </ul> *@


      @* <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ultrices arcu leo, in porttitor tortor volutpat vel. Donec sed molestie lorem. Nunc in enim pretium, lobortis velit ac, convallis mauris. Duis pretium eleifend dolor, ut tempus nibh volutpat et. Curabitur bibendum quis arcu nec pharetra. Aenean vulputate pretium ex. Donec quam eros, feugiat nec dolor aliquet, tincidunt commodo tortor. Vestibulum sit amet nisl bibendum, consectetur nunc sit amet, convallis urna. Suspendisse potenti. Nam eget erat dui. Etiam finibus porta arcu vitae ultrices. Etiam ultrices libero ut hendrerit congue. Donec cursus mauris vitae sem mattis molestie. Pellentesque ullamcorper auctor ipsum et venenatis.</p>
      <p>Sed bibendum gravida magna et pellentesque. Sed tempus convallis efficitur. Nulla finibus in quam sed elementum. Ut mauris leo, malesuada a posuere in, tristique consequat felis. Maecenas gravida fringilla pharetra. Etiam maximus neque augue, id eleifend odio efficitur ac. Cras quis nibh lorem. Donec ultricies tincidunt ex id ullamcorper. Etiam quis nulla felis. Suspendisse interdum dignissim sem, id ultricies dolor pulvinar semper.</p>
      <p>Mauris quis elit in diam mollis egestas in eu dui. Ut sollicitudin ipsum ac imperdiet tincidunt. Maecenas lobortis mattis neque. Phasellus maximus bibendum quam nec cursus. Duis a volutpat lorem. Sed iaculis arcu quam, in tincidunt nunc finibus sit amet. Ut mattis nec tortor non tristique. Proin dignissim sem odio, eget consequat velit porttitor id.</p>
      <p>Vestibulum in magna vitae mi ullamcorper laoreet. Mauris quis consequat ex, id volutpat nisi. Duis consectetur scelerisque ipsum, eu porta eros cursus auctor. Quisque volutpat faucibus diam, in finibus urna posuere ut. Etiam sed euismod eros. Proin rutrum, nisl ut hendrerit placerat, purus velit auctor risus, in rutrum ante dui ut ipsum. Cras in elit nisl. Curabitur mattis condimentum varius. Integer non hendrerit neque. Sed nibh nunc, gravida vel elementum ut, dapibus at magna. Nulla lobortis tempor ligula eget lacinia.</p>
      <p>Curabitur sagittis condimentum elit, sed sollicitudin enim imperdiet non. Duis at molestie lectus. Nullam semper sollicitudin velit vitae egestas. Vestibulum eget velit eu odio mattis congue congue quis mi. Morbi consequat facilisis ipsum vel fermentum. Donec faucibus arcu in nisi condimentum, et varius ex aliquet. In sed finibus mi. Vestibulum laoreet fringilla purus, ut rhoncus felis pellentesque id. Morbi risus lorem, sollicitudin sit amet urna quis, convallis euismod diam. Sed feugiat velit eget ante maximus tincidunt. Cras placerat facilisis leo, sed finibus sapien molestie sed. Ut ac augue sed enim laoreet molestie gravida eget turpis.</p> *@
    </section>
  </div>

  @* <div class="g-container t-content">
    <h1 class="text-center t-page-color">Vamos lá, bora participar!</h1>

    <form action="#" method="post" id="form-where-15-anos" class="form-where-15-anos">
      <ul class="c-forms--labels">
        <li class="input-halffff input-full">
          <label for="form-inscricao--nome">Nome completo</label>
          <input type="text" name="form-inscricao--nome" id="form-inscricao--nome" maxlength="120" placeholder="Seu nome">
          <span class="field-validation-error" data-valmsg-for="Cidade" data-valmsg-replace="true" style="display: none;">*Obrigatório</span>
        </li>
        <li class="input-halffff input-full">
          <label for="form-inscricao--email">E-mail</label>
          <input type="email" name="form-inscricao--email" id="form-inscricao--email" maxlength="120" placeholder="Seu e-mail">
          <span class="field-validation-error" data-valmsg-for="Email" data-valmsg-replace="true" style="display: none;">*Obrigatório</span>
          <span class="field-validation-error invalid-email" data-valmsg-for="Email" data-valmsg-replace="true" style="display: none;">*E-mail inválido</span>
        </li>
        <li class="input-large">
          <label for="form-inscricao--telefone">Telefone</label>
          <input type="telefone" name="form-inscricao--telefone" id="form-inscricao--telefone" class="trigger-mask-phone" maxlength="120" placeholder="(00) 0000-0000">
          <span class="field-validation-error" data-valmsg-for="telefone" data-valmsg-replace="true" style="display: none;">*Obrigatório</span>
          <span class="field-validation-error invalid-telefone" data-valmsg-for="Telefone" data-valmsg-replace="true" style="display: none;">*Telefone inválido</span>
        </li>
      </ul>
      <ul class="c-forms--labels">
        <li class="input-large">
          <label for="form-inscricao--nascimento">Data de nascimento</label>
          <small class="obs">Você deve possuir mais de 18 anos</small>
          <input type="nascimento" name="form-inscricao--nascimento" id="form-inscricao--nascimento" class="trigger-mask-date" maxlength="120" placeholder="DD/MM/AAAA">
          <span class="field-validation-error" data-valmsg-for="nascimento" data-valmsg-replace="true" style="display: none;">*Obrigatório</span>
          <span class="field-validation-error invalid-nascimento" data-valmsg-for="Nascimento" data-valmsg-replace="true" style="display: none;">*Data de nascimento inválida</span>
        </li>
      </ul>
      <ul class="c-forms--labels">
        <li class="input-small">
          <label for="form-inscricao--uf">UF</label>
          <div class="mask-select">
            <select name="form-inscricao--uf" id="form-inscricao--uf">
              <option value="selecione">Selecione</option>
              <option value="PR">PR</option>
              <option value="SP">SP</option>
            </select>
          </div>
          <span class="field-validation-error invalid-uf" data-valmsg-for="uf" data-valmsg-replace="true" style="display: none;">*Obrigatório</span>
        </li>
        <li class="input-large">
          <label for="form-inscricao--cidade">Cidade</label>
          <input type="cidade" name="form-inscricao--cidade" id="form-inscricao--cidade" maxlength="120" placeholder="Cidade">
          <span class="field-validation-error" data-valmsg-for="cidade" data-valmsg-replace="true" style="display: none;">*Obrigatório</span>
          <span class="field-validation-error invalid-cidade" data-valmsg-for="Cidade" data-valmsg-replace="true" style="display: none;">*Data de nascimento inválida</span>
        </li>

        <li class="input-full">
          <label for="form-inscricao--titulo">Título que descreva sua imagem</label>
          <small class="obs">Máximo de 60 caracteres</small>
          <input type="text" name="form-inscricao--titulo" id="form-inscricao--titulo" maxlength="60" placeholder="">
          <span class="field-validation-error" data-valmsg-for="Titulo" data-valmsg-replace="true" style="display: none;">*Obrigatório</span>
        </li>

        <li class="input-full">
          <label for="form-inscricao--imagem">Faça o upload da imagem</label>
          <small class="obs">Tamanho máximo da imagem 5MB</small>
          <input type="file" name="form-inscricao--imagem" id="form-inscricao--imagem">
          <span class="field-validation-error invalid-imagem" data-valmsg-for="Imagem" data-valmsg-replace="true" style="display: none;">*Obrigatório</span>
        </li>
      </ul>
      <ul class="c-forms--labels">
        <li class="input-full">
          <label for="form-inscricao--regulamento"><input type="checkbox" name="" value="" id="form-inscricao--regulamento"> Li e concordo com o <a href="#"><u>regulamento</u></a> do concurso</label>
          <label for="form-inscricao--news"><input type="checkbox" name="" value="" id="form-inscricao--news" checked> Aceito receber notícias personalizadas do Massa News</label>
        </li>
      </ul>

      <button type="button" class="c-button c-button-where submit block trigger-inscricao-where-15-anos" title="Enviar">Enviar</button>
    </form>

    <a href="#" class="text-center u-block"><i class="fa fa-angle-double-left"></i> voltar</a>
  </div> *@

  @* <a href="#" class="trigger-social-where" data-social="facebook"><i class="fa fa-facebook"></i></a>

  <div class="tile">
    <a data-lightbox="gallery" data-title="Lorem ipsum - Pellentesque ornare ornare" class="tile-inner" href="imgp.php?src=1.jpg&amp;width=800">
      <img class="item" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="imgp.php?src=1.jpg&amp;width=400" alt="Lorem ipsum - Pellentesque ornare ornare">
      <span class='title'>Lorem ipsum</span>
      <span class='subtitle'>Pellentesque ornare ornare</span>
    </a>
    <div class="ftg-social">
      <a href="#" data-social="whatsapp"><i class="fa fa-whatsapp"></i></a>
      <a href="#" data-social="facebook"><i class="fa fa-facebook-square"></i></a>
      <a href="#" data-social="twitter"><i class="fa fa-twitter-square"></i></a>
      <a href="#" data-social="google-plus"><i class="fa fa-google-plus-square"></i></a>



      <div class="share"><a href="#" class="trigger-share-where" data-social="whatsapp"><i class="fa fa-whatsapp"></i></a><a href="#" class="trigger-share-where" data-social="facebook"><i class="fa fa-facebook-square"></i></a><a href="#" class="trigger-share-where" data-social="twitter"><i class="fa fa-twitter-square"></i></a><a href="#" class="trigger-share-where" data-social="google-plus"><i class="fa fa-google-plus-square"></i></a></div>
    </div>
  </div> *@

</main>

@section scripts{
  <script type="text/javascript" src="~/Assets/scripts/where-15-anos/jquery.nanogallery.min.js"></script>

  <script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
      $("#where15anos").nanoGallery({
        thumbnailWidth: 'auto',
        thumbnailHeight: 300,
        //colorScheme: 'none',
        thumbnailHoverEffect: [{ name: 'labelAppear75', duration: 150 }],
        i18n: { thumbnailImageDescription: 'Ampliar'},
        thumbnailLabel: { display: true, position: 'overImageOnMiddle', align: 'center' },
        viewerToolbar: { style: 'stuckImage', standard: 'label, vote', minimized: 'label' }, //standard - Possible values: minimizeButton, previousButton, pageCounter, nextButton, playPauseButton, fullscreenButton, infoButton, linkOriginalButton, closeButton, label, customN

        //itemsBaseURL:'http://brisbois.fr/nanogallery/demonstration/'
      });
    });


    // $(document).ready(function () {
    //   $("#nanoGallery").nanoGallery({
        
    //     thumbnailWidth: 'auto',
    //     thumbnailHeight: 250,
        
    //     userID: '111186676244625461692', kind:'picasa',
    //     album: '5911347863561293937',
    //     colorScheme: 'none',
    //     thumbnailHoverEffect: [{ name: 'labelAppear75', duration: 300 }],
    //     theme: 'light',
    //     thumbnailGutterWidth : 0,
    //     thumbnailGutterHeight : 0,
    //     i18n: { thumbnailImageDescription: 'View Photo', thumbnailAlbumDescription: 'Open Album' },
    //     thumbnailLabel: { display: true, position: 'overImageOnMiddle', align: 'center' }
    //   });
    // });
  </script>
}